 BODY {
	scrollbar-arrow-color :#000000;
	SCROLLBAR-HIGHLIGHT-COLOR: buttonface;
	SCROLLBAR-SHADOW-COLOR: buttonface;
	SCROLLBAR-3DLIGHT-COLOR: buttonhighlight;
	SCROLLBAR-TRACK-COLOR: #eeeeee;
	SCROLLBAR-DARKSHADOW-COLOR: buttonshadow;
	margin: 0px;
	font-family: "Times New Roman";
	font-size: 9pt;
	font-style: normal;
	line-height: 160%;
	color: #333333;
	border: 0px none;
}
TD{FONT-FAMILY: 'Times New Roman'; FONT-SIZE: 9pt}
DIV{FONT-FAMILY: 'Times New Roman'; FONT-SIZE: 9pt}
P{FONT-FAMILY: 'Times New Roman'; FONT-SIZE: 9pt}
OPTION{FONT-FAMILY: 'Times New Roman'; FONT-SIZE: 9pt}

INPUT{BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; HEIGHT: 18px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc}
textarea {border-width: 1; border-color: #000000; background-color: #efefef; font-family: 'Times New Roman'; font-size: 9pt; font-style: bold;}
select {border-width: 1; border-color: #000000; background-color: #efefef; font-family: 'Times New Roman'; font-size: 9pt; font-style: bold;}
A:link     {text-decoration:none; color:#000000}
A:visited  {text-decoration:none; color:#990099}
A:active   {text-decoration:underline; color:#FF0000}
A:hover    {text-decoration:underline; color:#3333CC}
.Orange{ font-family: 'Times New Roman';font-size: 9pt;color: #ff6600;}
.IndexTitleLink{ font-family: 'Times New Roman';font-size: 9pt;color: #000000;}
.Title{ font-family: 'Times New Roman';font-size: 12pt;color: #000000; font-weight: bold;}
.Orange_bak{ font-family: 'Times New Roman';font-size: 9pt; font-weight: bold; color: #ff6600;}
.bk {BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px}
.WhiteFont{ font-family: 'Times New Roman';font-size: 9pt;color: #ffffff;}
.cp {FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: normal; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"}
.TableTitle{ font-family: 'Times New Roman';font-size: 9pt; font-weight: bold; color: #373737;}
A.MenuUnselected, A.MenuUnselected:link, A.MenuUnselected:visited
{
    color: goldenrod;
    text-decoration: none;
    font-size:  12px;
    font-weight: bold;
    line-height: 18px;
    padding-left: 12px
}

A.MenuSelected
{
    color: white;
    text-decoration: none;
    font-size:  12px;
    font-weight: bold;
    line-height: 18px;
    padding-left: 12px
}
.style1 { COLOR: #ffffff }
.style2 { COLOR: #ffffff }